@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet');

:root {
  --bs-font-sans-serif: "Encode Sans", sans-serif;
  --bs-primario: #7cb744fa;
  --bs-secundario: #58585a;
  --bs-terciario: #53abe0;
  --bs-gradiente: radial-gradient(
    circle,
    #7cb744,
    #41bc73,
    #00bd9f,
    #00bbc2,
    #00b5d6,
    #3bbad7,
    #56bfd8,
    #6bc4d9,
    #90d4d4,
    #b6e1d4,
    #daeede,
    #f7fbf2
  );
}
h1,
h2{
  text-align: center;
  font-weight: 600;
}
h5,
h6 {
  font-weight: 550;
}
a,
p {
  text-align: center;
  font-size: 1.1rem;
  font-weight: 600;
}
.bg-primario{
  background-color: var(--bs-primario);
}
.bg-secunadrio{
  background-color: var(--bs-secundario);
}
.bg-gradiente{
  background-image: var(--bs-gradiente);
}
.bg-terciario{
  background-color:var(--bs-terciario) ;
}



.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}


body {
  font-family: var(--bs-font-sans-serif);
  
}

.navbar {
  background-color: var(--bs-primario);
}

.bg-img {
  background-image: url(../assets/img/plantas_1920.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  color: white;
}
.logoRockVerde {
  background-color: rgba(255, 255, 255, 0.726);
  background-size: cover;
  background-position: center;
  width: 200px;
}
.divBlur {
  backdrop-filter: blur(15px);
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--bs-primario);
  border-color: var(--bs-primario);

}
.tarjetaCategorias {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;

  h3 {
    padding: 2px;
  }
  div {
    box-shadow: -21px 17px 20px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    img {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      width: 250px;
      height: 400px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.bg-imgContacto {

  background-image: url(../assets/img/huella_co2.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 90vh;
  color: white;
}

.imagenIndexNosotros{
  background-image: url(../assets/img/manoECircular.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}
.altoFilaNosotrosIndex{
  height: 60vh;
}

.altoFilaNosotrosIndex > * {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .altoFilaNosotrosIndex{
    height: initial;
    .imagenIndexNosotros{
      height: 40vh;
    } 
  }
}
.seccionNosotro{
  background-color: var(--bs-terciario);
  color: white;
}
.footer{
  background-color: var(--bs-secundario);
  color: #fff;
  
  a{
    color: #fff;;
    text-decoration: none;
  }
  a:hover {
    color: var(--bs-primario);
  }

  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
  .fa-whatsapp {
    color: #4da637;
    font-size: 64px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .contenedorWatsapp {
    text-align: center;
    background: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 8px;
    right: 8px;
  }
  .row>*{
    padding-left: 0px;
  }

}


.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  padding: 20px;
  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 380px;
    box-shadow: -11px 14px 34px -6px rgba(69, 61, 61, 0.89);
    border-radius: 5px;
    padding: 10px;

    img {
      border-radius: 5px;
      width: 100%;
      height: 85%;
    }
    p {
      text-align: center;
      margin: 4px;
    }
    a {
      display: inline-block;
      border-radius: 6px;
      text-decoration: none;
      color: rgb(102, 95, 95);
      border: 2px, solid, rgb(150, 144, 144);
      box-shadow: -11px 14px 34px -6px rgba(69, 61, 61, 0.89);
      padding-left: 2px;
      padding-right: 2px;
      margin: 4px;
    }
  }
}
.anchoFormulario{
  width: 450px;
}
.form-check-label {
  margin-bottom: 0.5rem;
  color: white;
}

.alturaTextTarea{
  height: 100px;
}
