@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet');

:root {
  --bs-font-sans-serif: "Encode Sans", sans-serif;
  --bs-primario: #7cb744fa;
  --bs-secundario: #58585a;
}
h1,
h2,
h5,
h6 {
  font-weight: 600;
}
a,
p {
  font-weight: 600;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
body {
  font-family: var(--bs-font-sans-serif);
}



.navbar {
  background-color: var(--bs-primario);
}

.bg-img {
  background-image: url(../assets/img/plantas_1920.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 90vh;
  color: white;
}
.logoRockVerde {
  background-color: rgba(255, 255, 255, 0.726);
  background-size: cover;
  background-position: center;
  width: 200px;
}
.divBlur {
  backdrop-filter: blur(15px);
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--bs-primario);
  border-color: var(--bs-primario);
}
.tarjetaCategorias {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;

  h3 {
    padding: 2px;
  }
  div {
    box-shadow: -21px 17px 20px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    img {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      width: 250px;
      height: 400px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}


/*

.altDivCards {
  height: 85vh;
  width: 50%;
}
.altImgCards {
  height: 90%;
}
.card-title {
  margin-bottom: 0;
}
*/

@media (min-width: 768px) {

  .row-cols-md-auto > * {
    flex: 0 0 auto;
    width: 25%;
  }
  
}





.bg-imgContacto {

  background-image: url(../assets/img/huella_co2.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 90vh;
  color: white;
}

