@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+DE+Grund:wght@100..400&display=swap" rel="stylesheet');

:root {
  --bs-font-sans-serif: "Encode Sans", sans-serif;
  --bs-primario: #7cb744fa;
  --bs-secundario: #58585a;
  --bs-terciario: #53abe0;
}
h1,
h2{
  font-weight: 600;
}
h5,
h6 {
  font-weight: 550;
}
a,
p {
  font-size: 1.1rem;
  font-weight: 600;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
}


body {
  font-family: var(--bs-font-sans-serif);
  
}

.navbar {
  background-color: var(--bs-primario);
}

.bg-img {
  background-image: url(../assets/img/plantas_1920.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  color: white;
}
.logoRockVerde {
  background-color: rgba(255, 255, 255, 0.726);
  background-size: cover;
  background-position: center;
  width: 200px;
}
.divBlur {
  backdrop-filter: blur(15px);
}

.btn-primary {
  color: #fff;
  background-color: transparent;
  border-color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  text-decoration: none;
}
.btn-primary:hover {
  color: #fff;
  background-color: var(--bs-primario);
  border-color: var(--bs-primario);
}
.tarjetaCategorias {
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;

  h3 {
    padding: 2px;
  }
  div {
    box-shadow: -21px 17px 20px 4px rgba(0, 0, 0, 0.6);
    text-align: center;
    img {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      width: 250px;
      height: 400px;
    }
    a {
      text-decoration: none;
      color: black;
    }
  }
}
.bg-imgContacto {

  background-image: url(../assets/img/huella_co2.png);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
  height: 90vh;
  color: white;
}

.imagenIndexNosotros{
  background-image: url(../assets/img/manoECircular.jpg);
  background-size: cover;
  background-repeat: repeat;
  background-position: center center;
}
.altoFilaNosotrosIndex{
  height: 60vh;
}

.altoFilaNosotrosIndex > * {
  height: 100%;
}
@media screen and (max-width: 768px) {
  .altoFilaNosotrosIndex{
    height: initial;
    .imagenIndexNosotros{
      height: 50vh;
    } 
  }
}
.seccionNosotro{
  background-color: var(--bs-terciario);
  color: white;
}
.footer{
  background-color: var(--bs-secundario);
  color: #fff;
  
  a{
    color: #fff;;
    text-decoration: none;
  }
  a:hover {
    color: var(--bs-primario);
  }

  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color: inherit;
    text-decoration: none;
  }
  .fa-whatsapp {
    color: #4da637;
    font-size: 64px;
    position: fixed;
    bottom: 20px;
    right: 20px;
  }
  .contenedorWatsapp {
    text-align: center;
    background: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: fixed;
    bottom: 8px;
    right: 8px;
  }
  .row>*{
    padding-left: 0px;
  }

}